name: epub_viewer_pro_example
description: Example application demonstrating epub_viewer_pro plugin usage.
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  epub_viewer_pro:
    path: ../
  get: ^4.7.2
  get_storage: ^2.1.1
  file_picker: ^8.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
